<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="./bootstrap/css/index.css">
	<script src="./bootstrap/lib/jquery-3.4.1.js"></script>
	<script src="./bootstrap/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
  <title>
	<%= title %>	
  </title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		<a class="navbar-brand" href="/">會員留言系統</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			<a href="/" class="nav-item nav-link home">留言板</a>
			<% if(auth){ %>
			<a href="/user" class="nav-item nav-link ml-lg-2 user">個人頁面</a>	
			<form action="/" method="post">
				<input type="submit" class="nav-item nav-link ml-lg-2 signout" value="登出">
			</form>
			<% } %>
			<% if(!auth){ %>
			<a href="/login" class="nav-item nav-link ml-lg-2 login">登入</a>
			<a href="/signup" class="nav-item nav-link ml-lg-2 signup">註冊</a>
			<% } %>
			</div>
		</div>
		</div>
	</nav>
	<div class="container">
		<% if(auth){ %>
		<h2 class="mt-5">留言板</h2>
		<form action="/messageBoard" method="post">
			<span style="color:red"><%= errors %></span>
			<div class="form-group mt-2">
			<input type="text" class="form-control" name="content" placeholder="填寫留言訊息">
			</div>
			<input type="submit" class="btn btn-outline-dark" value="送出">
		</form>
		<br>
		<% } %>
		<% if(!auth){ %>
			<div class="mb-5 mt-3">
				<p class="mt-1">您尚未登入，只能瀏覽，若要留言請先登入</p>
			</div>
			<h2>留言板</h2>
		<% } %>
		<p style="text-align: right;">顯示最新5筆</p>
		<table class="table">
			<thead>
			  <tr>
				<th scope="col">暱稱</th>
				<th scope="col">留言</th>
			  </tr>
			</thead>
			<tbody>
			  <% for(item in list){ %>
			  <tr>
				<td><%= list[item].nickname %></td>
				<td><%= list[item].content %></td>
			  </tr>
			  <% } %>
			</tbody>
		</table>
	</div>
</body>
</html>