<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>基本資料</h1>
    <h2>姓名: <%= nickname %></h2>
    <h2>信箱: <%= email %></h2>
</body>
</html>